<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" packagingData="true">
    <property name="LOG_HOME" value="${log.base}"/>
    <property name="CONSOLE_PATTERN"
              value="%d{HH:mm:ss.SSS} [%thread] %-5level -- %class [%3line] -- %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>cloud-debugger.log</file>
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.apache.cloud.debugger" level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
